.DS_Store
.git/
.gitignore
.gitattributes
.github/
.gitlab-ci.yml
*.tgz
*.tar.gz
*.zip
.idea/
.vscode/
*.swp
*.swo
*~
Thumbs.db
charts/
Chart.lock
*.md
README*
LICENSE
values-*.yaml
!values.yaml
!values.schema.json
scripts/
*.sh
